html, body {
	background-color: #EEE5C3;
	margin: 0 auto;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	max-width: 320px;
}

.reg {
	margin: 0;
	padding: 0 1.4em;
	font-family: monospace;
	text-align: right;
	color: #666;
}

.indicator-view {
	box-sizing: border-box;
	list-style: none;
	margin: 0 auto;
	overflow: auto;
	padding: 1em;
	padding-bottom: 0;
}

.indicator-view li {
	float: left;
	margin-right: 1em;
	vertical-align: baseline;
}

.indicator-view li .light {
	width: 1em;
	height: 1em;
	margin-right: .5em;
	display: inline-block;
	background-color: #D8D8D8;
	border-radius: 50%;
	box-shadow: rgba(236, 8, 8, 0) 0 -1px 7px 1px, inset rgba(102, 0, 0, 0.22) 0px -2px 8px, rgba(250, 106, 106, 0) 0 2px 12px;
}
.indicator-view li.on .light {
	background-color: #FF1C1C;
	box-shadow: rgba(236, 8, 8, 0.76) 0 -1px 7px 1px, inset rgba(102, 0, 0, 1) 0px -2px 8px, rgba(250, 106, 106, 1) 0 2px 12px;
}

.indicator-view li .label {
	display: inline-block;
	font-family: monospace;
	position: relative;
	top: -.2em;
}



.numpad-view {
	max-width: 300px;
	margin: 0 auto;
	padding: .75em;
	list-style: none;
	overflow: auto;
}

.numpad-view li {
	margin-right: 1.5%;
	margin-bottom: 1.5%;
	width: 32%;
	box-sizing: border-box;
	float: left;
	position: relative;
	overflow: hidden;
	max-width: 6em;
}

.numpad-view li a {
	display: block;
	text-align: center;
	height: 100%;
	background-color: #EBE1E1;
	width: auto;
	padding: 1em;
	box-sizing: border-box;
	text-decoration: none;
	color: #333;
	font-size: 1.4em;
	font-family: monospace;
	position: relative;
	top: 5px;
	left: 5px;
	right: -10px;
	transition: top .035s ease-in;
	box-shadow: -1px 3px 3px rgba(0,0,0,0.1);
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1), 1px 1px 0px rgba(255, 255, 255, 1);
	min-height: 4.1em;
}

.numpad-view li a .alpha,
.numpad-view li a .number {
	display: block;
}

.numpad-view li a .alpha {
	font-size: 0.7em;
	color: #666;
}
.numpad-view li a .number {
	margin: 0.1em 0 0.3em;
}

.numpad-view li a:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 11px solid #B6B5B5;
}

.numpad-view li a:before {
	content: '';
	position: absolute;
	overflow: hidden;
	top: 0.5em;
	bottom: 1em;
	left: .5em;
	right: .8em;
	border-radius: 1em;
	background-color: transparent;
	box-shadow: inset 0 15px 20px 5px rgba(0,0,0,0.03);
}

.numpad-view li a:active,
.numpad-view li a.active {
	top: 10px;
}

.numpad-view .special {
	width: 32%;
	margin-bottom: 0;
	max-width: 100%;
}

.numpad-view .hang-up {
	width :64%;
	margin: 0; 
}

.numpad-view .hang-up a {
	color: #901B1B;
	line-height: 2em;
	background-color: rgb(255, 109, 109);
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1), 1px 1px 0px rgba(255, 255, 255, 0.5);
}

.numpad-view .engage a:after,
.numpad-view .hang-up a:after {
	border-color: #B15656;
}

.numpad-view li:nth-child(3n+1) {
	clear: left;
}
.numpad-view li:nth-child(3n) {
	margin-right: 0;
}